/* Background */
$bg-red: #ce1d39;

/* Color */
$color-black: #000000;
$color-blue: #78bee0;
$color-red: #cf1d39;
$color-white: #ffffff;

/* Breakpoints */
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$hd: 1920px;
$hg: 2560px;