/* Background */
$bg-red: #ce1d39;

/* Color */
$color-black: #000000;
$color-blue: #78bee0;
$color-red: #cf1d39;
$color-night: #313131;
$color-white: #ffffff;
$color-grey: #959595;
$color-dark-grey: #aeaeae;
$color-light-grey: #cec4c5;
$color-zambezi: #5b5b5b;

/* Breakpoints */
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$vl: 1600px;
$hd: 1920px;
$hg: 2560px;