.site-main {
    .page {
        .entry-content {
            #tm_builder_outer_content {
                .tm_pb_module {
                    > img {
                        margin: 0;
                    }
                }

                .pattern-image {
                    > img {
                        width: auto;
                        max-width: none;

                        @include bp(max-width, $md - 1) {
                            height: 19px;
                        }
                    }
                }
            }
        }
    }
}