.site-main {
    .page {
        .entry-content {
            #tm_builder_outer_content {
                .tm_pb_module {
                    > img {
                        margin: 0;
                    }
                }

                .pattern-image {
                    > img {
                        @include media-breakpoint-up(md) {
                            width: auto;
                            max-width: none;
                        }
                    }
                }
            }
        }
    }
}