.page {
    .frm_style_formidable-style {
        &.with_frm_style {
            input[type=text],
            input[type=email],
            input[type=tel],
            select,
            textarea  {
                border-color: $color-dark-grey;
                color: $color-zambezi;
                padding: 10px 15px;
            }

            input[type=text],
            input[type=email],
            input[type=tel] {
                @include placeholder-color($color-zambezi);
            }

            select {
                background-position: 97% 50%;
            }

            .frm_submit {
                button {
                    background: $color-red;
                    border: 2px solid $color-red;
                    color: $color-white;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    height: 72px;
                    width: auto;
                    margin: 0;
                    padding: 20px 45px;
                    
                    &:hover {
                        background: $color-white;
                        border-color: $color-red;
                        color: $color-red;
                    }
                }
            }
        }
    }
}