.contact-page {
    &-content {
        @include bp(max-width, $lg - 1) {
            .tm_pb_column {
                @include flex(0, 0 , 100%);
                max-width: 100%;
            }
        }
    }

    &-title {
        padding: 50px 0 40px;

        @include media-breakpoint-up(xl) {
            padding-top: 90px;
        }

        h2 {
            color: $color-black;
            font-size: 25px;
            font-weight: 300;
            line-height: 1.24;
            margin: 0;

            @include media-breakpoint-up(md) {
                font-size: 30px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 50px;
            }
        }
    }

    &-info {
        background: $color-red;
        padding: 15px 20px;

        @include media-breakpoint-up(xl) {
            max-width: 350px;
            padding: 35px 40px;
        }

        @include bp(max-width, $lg - 1) {
            margin-bottom: 20px;
        }

        p {
            color: $color-white;
            font-size: 18px;
            margin: 0 0 25px;

            &:last-child {
                margin: 0;
            }
        }
    }

    &-form {
        padding-bottom: 50px;

        @include media-breakpoint-up(xl) {
            padding-bottom: 170px;
        }

        .frm_style_formidable-style {
            &.with_frm_style {
                input[type=text],
                input[type=email],
                input[type=tel],
                select,
                textarea  {
                    border-color: $color-dark-grey;
                    color: $color-zambezi;
                    padding: 10px 15px;
                }

                input[type=text],
                input[type=email],
                input[type=tel] {
                    @include placeholder-color($color-zambezi);
                }

                select {
                    background-position: 97% 50%;
                }

                .frm_submit {
                    button {
                        background: $color-red;
                        border: 2px solid $color-red;
                        color: $color-white;
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        height: 72px;
                        width: auto;
                        margin: 0;
                        padding: 20px 45px;
                        
                        &:hover {
                            background: $color-white;
                            border-color: $color-red;
                            color: $color-red;
                        }
                    }
                }
            }
        }
    }
}