.home {
    /* Banner */
    .showcase-panel {
        @include media-breakpoint-up(xl) {
            margin-bottom: -38px;
            padding: 145px 15px 100px;
        }
    }

    .showcase-panel__subtitle {
        font-weight: 700;

        @include media-breakpoint-up(md) {
            font-size: 85px;
            letter-spacing: 0;
            margin: 0 0 10px;
        }
    }

    .showcase-panel__description {
        font-size: 25px;
        font-weight: 700;

        @include media-breakpoint-up(xl) {
            max-width: 1000px;
            margin-bottom: 100px;
        }
    }

    .showcase-panel__btn {
        font-size: 16px;
    }

    /* Our mission */
    .our-mission {
        padding-left: 60px;
        padding-right: 60px;

        &-title {
            h2 {
                color: $color-white;
                font-weight: 700;
                line-height: 1;
                letter-spacing: 0;
                margin: 0;

                &:before {
                    content: '';
                    display: block;
                    height: 5px;
                    width: 78px;
                    background: $color-white;
                    margin-bottom: 30px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 80px;
                }
            }
        }

        &-subtitle {
            h3 {
                color: $color-white;
                font-weight: 300;
                line-height: 1.25;
                letter-spacing: 0;
                margin: 0 0 30px;

                @include media-breakpoint-up(lg) {
                    font-size: 40px;
                }
            }
        }

        &-text {
            p {
                font-size: 18px;
                margin: 0 0 25px;

                & + p {
                    margin: 0;
                }
            }
        }
    }

    &.tm_pb_builder {
        #tm_builder_outer_content {
            .our-mission-button {
                font-size: 16px;
                margin-top: 45px;
                padding: 20px 43px !important;
            }
        }
    }

    /* Project terms */
    &.tm_pb_builder {
        #tm_builder_outer_content {
            .projects-terms-container {
                &.grid-layout {
                    margin: 0;
                }
        
                .project-terms {
                    &-media {
                        &:hover {
                            .term-permalink {
                                &.simple-icon {
                                    @include media-breakpoint-up(lg) {
                                        transform: translateY(calc(50% + 30px));
                                    }
                                }
                            }
                        }
                    }
        
                    &-caption {
                        @include media-breakpoint-up(xl) {
                            padding: 60px 40px;
                        }
            
                        h5 {
                            font-weight: 300;
            
                            @include media-breakpoint-up(xl) {
                                font-size: 35px;
                                line-height: 1.46;
                            }
                        }
        
                        .term-permalink {
                            @include media-breakpoint-up(xl) {
                                margin: 0 0 30px 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* About us */
    .about-us {
        &-image {
            img {
                width: 100%;
            }
        }

        &-content {
            max-width: 940px;
            padding-top: 100px;
        }

        &-title {
            h2 {
                color: $color-black;
                font-weight: 700;
                line-height: 1;
                letter-spacing: 0;
                margin: 0 0 70px;

                &:before {
                    content: '';
                    display: block;
                    height: 5px;
                    width: 78px;
                    background: $color-red;
                    margin-bottom: 30px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 80px;
                }
            }
        }

        &-subtitle {
            h3 {
                color: $color-black;
                font-weight: 300;
                line-height: 1.25;
                letter-spacing: 0;
                margin: 0 0 30px;

                @include media-breakpoint-up(lg) {
                    font-size: 40px;
                }
            }
        }

        &-text {
            p {
                font-size: 18px;
                margin: 0 0 25px;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    &.tm_pb_builder {
        #tm_builder_outer_content {
            .about-us-button {
                font-size: 16px;
                margin-top: 65px;
                padding: 20px 43px !important;
            }
        }
    }
}