.home {
    /* Banner */
    .showcase-active {
        .header-wrapper {
            @include bp(min-width, $md) {
                min-height: 100vh;
            }
        }
    }

    .showcase-panel {
        @include bp(min-width, $md) {
            margin-bottom: -38px;
            padding: 0 15px 55px;
        }

        @include bp(min-width, $vl) {
            padding: 145px 15px 100px;
        }

        @include bp(max-width, $md - 1) {
            margin-bottom: -19px;
        }
    }

    .showcase-panel__subtitle {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0;
        margin: 0 0 10px;

        @include bp(min-width, $md) {
            font-size: 65px;
        }

        @include bp(min-width, $xl) {
            // font-size: 85px;
        }
    }

    .showcase-panel__description {
        font-size: 20px;
        font-weight: 700;
        max-width: 100%;
        margin-bottom: 50px;

        @include bp(min-width, $xl) {
            font-size: 25px;
            max-width: 1000px;
            margin-bottom: 100px;
        }
    }

    .showcase-panel__btn {
        font-size: 16px;
    }

    /* Project terms */
    &.tm_pb_builder {
        #tm_builder_outer_content {
            .projects-terms-container {
                &.grid-layout {
                    margin: 0;

                    .projects-terms-list {
                        .projects-terms-item {
                            @include bp(min-width, $xl) {
                                @include flex-basis(25% !important);
                                width: 25% !important;
                            }
                        }
                    }
                }
        
                .project-terms {
                    &-media {
                        &:hover {
                            .term-permalink {
                                &.simple-icon {
                                    @include bp(min-width, $xl) {
                                        transform: translateY(calc(50% + 30px));
                                    }
                                }
                            }
                        }
                    }
        
                    &-caption {
                        @include bp(min-width, $xl) {
                            padding: 60px 40px;
                        }
            
                        h5 {
                            font-weight: 300;
            
                            @include bp(min-width, $xl) {
                                font-size: 25px;
                                line-height: 1.46;
                            }

                            @include bp(min-width, $vl) {
                                font-size: 35px;
                            }
                        }
        
                        .term-permalink {
                            @include bp(min-width, $xl) {
                                margin: 0 0 30px 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* About us */
    .about-us {
        @include bp(max-width, $xl - 1) {
            .tm_pb_column {
                @include flex(0, 0 , 100%);
                max-width: 100%;
            }
        }

        &-image {
            img {
                width: 100%;

                @include bp(min-width, $xl) {
                    display: none;
                }
            }
        }

        &-content {
            max-width: 940px;
            margin: 0 auto;
            padding-top: 50px;
            padding-bottom: 50px;

            @include bp(min-width, $md) {
                padding-top: 100px;
                padding-bottom: 100px;
            }

            @include bp(max-width, $xl - 1) {
                padding-left: 3.125rem;
                padding-right: 3.125rem;
            }
        }

        &-title {
            h2 {
                color: $color-black;
                font-size: 40px;
                font-weight: 700;
                line-height: 1;
                letter-spacing: 0;
                margin: 0;

                &:before {
                    content: '';
                    display: block;
                    height: 5px;
                    width: 78px;
                    background: $color-red;
                    margin-bottom: 10px;
                }

                @include bp(min-width, $md) {
                    font-size: 60px;

                    &::before {
                        margin-bottom: 20px;
                    }
                }

                @include bp(min-width, $xl) {
                    margin: 0 0 60px;
                }

                @include bp(min-width, $vl) {
                    font-size: 80px;

                    &::before {
                        margin-bottom: 30px;
                    }
                }

                @include bp(max-width, $xl - 1) {
                    margin: 0 0 50px;
                }
            }
        }

        &-subtitle {
            h3 {
                color: $color-black;
                font-size: 25px;
                font-weight: 300;
                line-height: 1.25;
                letter-spacing: 0;
                margin: 0 0 30px;

                @include bp(min-width, $md) {
                    font-size: 30px;
                }

                @include bp(min-width, $vl) {
                    font-size: 40px;
                }
            }
        }

        &-text {
            p {
                font-size: 16px;
                margin: 0 0 25px;

                &:last-child {
                    margin: 0;
                }

                @include bp(min-width, $vl) {
                    font-size: 18px;
                }
            }
        }
    }

    &.tm_pb_builder {
        #tm_builder_outer_content {
            .about-us-button {
                font-size: 16px;
                margin-top: 65px;
                padding: 20px 43px !important;

                @include bp(max-width, $xl - 1) {
                    margin-top: 45px;
                    padding: 15px 23px !important;
                }
            }
        }
    }

    /* Why us */
    .why-us {
        background: $color-night;

        &-title {
            padding: 85px 0 70px;

            @include bp(max-width, $xl - 1) {
                padding-bottom: 50px;
            }

            @include bp(max-width, $md - 1) {
                padding-top: 50px;
            }

            h2 {
                color: $color-white;
                font-size: 40px;
                font-weight: 700;
                line-height: 1;
                letter-spacing: 0;
                margin: 0;

                &:before {
                    content: '';
                    display: block;
                    height: 5px;
                    width: 78px;
                    background: $color-red;
                    margin: 0 auto 10px;
                }

                @include bp(min-width, $md) {
                    font-size: 60px;

                    &::before {
                        margin-bottom: 20px;
                    }
                }

                @include bp(min-width, $vl) {
                    font-size: 80px;

                    &::before {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        &-subtitle {
            @include bp(min-width, $xl) {
                padding-top: 20px;
            }

            h3 {
                display: inline-block;
                vertical-align: top;
                color: $color-blue;
                font-size: 25px;
                font-weight: 300;
                line-height: 1.25;
                letter-spacing: 0;
                text-align: center;
                max-width: 680px;
                margin: 0;

                @include bp(min-width, $md) {
                    font-size: 30px;
                }

                @include bp(min-width, $vl) {
                    font-size: 40px;
                }

                @include bp(max-width, $xl - 1) {
                    display: block;
                    margin: 0 auto 30px;
                }
            }
        }

        &-text {
            max-width: 680px;

            @include bp(max-width, $xl - 1) {
                margin: 0 auto;
            }

            p {
                color: $color-white;
                font-size: 16px;
                margin: 0 0 25px;

                &:last-child {
                    margin: 0;
                }

                @include bp(min-width, $vl) {
                    font-size: 18px;
                }
            }
        }

        &-content {
            padding-bottom: 110px;

            @include bp(max-width, $xl - 1) {
                padding-left: 1.5625rem;
                padding-right: 1.5625rem;

                .tm_pb_column {
                    @include flex(0, 0 , 100%);
                    max-width: 100%;
                }
            }

            @include bp(max-width, $md - 1) {
                padding-bottom: 50px;
            }
        }
    }

    /* Find us */
    .find-us {
        &-title {
            padding: 50px 0;

            @include bp(min-width, $md) {
                padding: 80px 0;
            }

            @include bp(min-width, $xl) {
                padding: 100px 0;
            }

            @include bp(min-width, $vl) {
                padding: 100px 0 230px;
            }

            @include bp(min-width, $hd + 1) {
                padding: 100px 0 460px;
            }

            h2 {
                color: $color-white;
                font-size: 40px;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 0;
                margin: 0;

                &:before {
                    content: '';
                    display: block;
                    height: 5px;
                    width: 78px;
                    background: $color-white;
                    margin-bottom: 10px;
                }

                @include bp(min-width, $md) {
                    font-size: 60px;

                    &::before {
                        margin-bottom: 20px;
                    }
                }

                @include bp(min-width, $vl) {
                    font-size: 80px;

                    &::before {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

    /* Contact us */
    .contact-us {
        padding: 65px 0 55px;

        @include bp(min-width, $xl) {
            padding: 135px 0 125px;
        }

        &-text {
            p {
                color: $color-blue;
                font-size: 25px;
                font-weight: 300;
                line-height: 1.25;
                margin: 0;

                @include bp(min-width, $md) {
                    font-size: 36px;
                    line-height: 1.7;
                }

                @include bp(min-width, $xl) {
                    font-size: 60px;
                    line-height: 1.2;
                }

                @include bp(min-width, $vl) {
                    font-size: 80px;
                    line-height: 0.9;
                }
            }
        }
    }

    &.tm_pb_builder {
        #tm_builder_outer_content {
            .contact-us-button {
                font-size: 16px;
                white-space: nowrap;
                padding: 20px 45px !important;

                @include bp(max-width, $xl - 1) {
                    padding: 15px 25px !important;
                }

                @include bp(max-width, $md - 1) {
                    display: block;
                    margin-top: 30px;
                }
            }
        }
    }
}