.product {
    &-content {
        margin-bottom: 50px;
        padding-top: 50px;

        @include bp(min-width, $xl) {
            margin-bottom: 125px;
            padding-top: 115px;
        }

        @include bp(max-width, $xl - 1) {
            .tm_pb_column {
                @include flex(0, 0 , 100%);
                max-width: 100%;
            }
        }

        .tm_pb_button_module_wrapper {
            @include bp(min-width, $md) {
                display: inline-block;
                vertical-align: top;
                margin-right: 14px;
                width: auto;
            }

            @include bp(min-width, $xl) {
                margin-right: 24px;
            }
        }
    }

    &-image {
        @include bp(max-width, $xl - 1) {
            margin-bottom: 50px;
        }
    }

    &-info {
        margin-bottom: 40px;

        @include bp(min-width, $xl) {
            margin-bottom: 60px;
        }

        h2 {
            color: $color-black;
            font-size: 40px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 1;
            margin: 0 0 30px;

            @include bp(min-width, $md) {
                font-size: 60px;
                margin: 0 0 40px;
            }

            @include bp(min-width, $vl) {
                font-size: 70px;
            }
        }

        h3 {
            color: $color-black;
            font-size: 25px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 1.25;
            text-transform: none;
            margin: 0 0 25px;

            @include bp(min-width, $md) {
                font-size: 30px;
            }

            @include bp(min-width, $vl) {
                font-size: 40px;
            }
        }

        p, ul li {
            font-size: 16px;

            @include bp(min-width, $vl) {
                font-size: 18px;
            }
        }

        ul {
            margin: 0 0 25px;
        }
    }

    &-related {
        margin-bottom: 50px;

        @include bp(min-width, $md) {
            margin-bottom: 100px;
        }

        @include bp(min-width, $xl) {
            margin-bottom: 200px;
        }

        &-title {
            h4 {
                color: $color-black;
                font-size: 25px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 1;
                text-transform: none;
                margin: 0 0 25px;

                @include bp(min-width, $md) {
                    font-size: 30px;
                }
            }
        }

        .projects-terms-container {
            .projects-terms-list {
                @include bp(min-width, $md) {
                    margin: 0 -10px;
                }

                @include bp(min-width, $xl) {
                    margin: 0 -30px;
                }
            }

            .inner-wrapper {
                @include bp(min-width, $xl) {
                    margin: 10px 30px !important;
                }
            }
        }
    }
}

.page {
    &.tm_pb_builder {
        #tm_builder_outer_content {
            .product-button {
                font-size: 16px;
                padding: 20px 35px !important;

                @include bp(max-width, $xl - 1) {
                    padding: 15px 25px !important;
                }

                @include bp(max-width, $md - 1) {
                    display: block;
                }
            }

            .product-tabs {
                padding-top: 0;

                .tm_pb_all_tabs {
                    border-top-color: $color-dark-grey;
                    padding: 45px 0;
                }

                .tm_pb_tabs_controls {
                    li {
                        a {
                            @include bp(max-width, $xl - 1) {
                                padding: 10px 20px;
                            }
                        }
                    }
                }
            }

            .product-related {
                .projects-terms-container {
                    &.grid-layout {
                        margin: 0;
    
                        .projects-terms-list {
                            .projects-terms-item {
                                @include bp(min-width, $xl) {
                                    @include flex-basis(25% !important);
                                    width: 25% !important;
                                }
                            }
                        }
                    }

                    .project-terms {
                        &-media {
                            &:hover {
                                h5 {
                                    @include bp(min-width, $xl) {
                                        top: 50%;
                                        transform: translateY(-50%);
                                    }    
                                }
                            }
                        }
    
                        &-caption {
                            @include bp(min-width, $xl) {
                                padding: 50px;
                            }
    
                            h5 {
                                font-weight: 300;
                
                                @include bp(min-width, $xl) {
                                    font-size: 35px;
                                    line-height: 1.46;
                                    text-align: left;
                                    @include align-self(flex-start);
                                }
                            }
    
                            .term-permalink {
                                @include bp(min-width, $xl) {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}