#tm_builder_outer_content .tm_pb_module.tm_pb_team_member .tm-pb-icon {
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_module.tm_pb_team_member .tm-pb-icon:hover {
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_team_member.tm_pb_bg_layout_light h4,
#tm_builder_outer_content .tm_pb_team_member.tm_pb_bg_layout_light .tm_pb_member_position {
	color: $regular_text_color;
}
