<div class="cherry-projects-single__container">
	<div class="container">
		%%TITLE%%
		%%FEATUREDIMAGE%%
		%%IMAGELIST%%
	</div>
</div>
<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__content wrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-12 col-xl-4">
						%%DETAILSLIST%%
						%%SKILLSLIST%%
					</div>
					<div class="col-lg-12 col-xl-8">
						%%CONTENT%%
					</div>
				</div>
		</div>
	</div>
</div>
