<div class="project-media">
		%%FEATUREDIMAGE size="caldera-thumb-l"%%
	<div class="hover-content row-format">
		%%ZOOMLINK%%
	</div>
</div>
<div class="project-content">
	%%TITLE%%
	%%CONTENT number_of_words="15"%%
	%%BUTTON%%
</div>
