<div class="project-terms-media custom">
	%%TERMIMAGE size="caldera-thumb-836-608-fullscreen"%%
</div>
<div class="project-terms-content custom">
	%%TERMNAME%%
	%%TERMDESCRIPTION number_of_words ="15"%%
	%%TERMPERMALINK text_visible ="true"%%
</div>
