<div class="project-terms-media no-terms-caption">
	%%TERMIMAGE size="caldera-thumb-480-500"%%
	<div class="hover-content row-format project-terms-caption">
		%%TERMNAME%%
		%%TERMPERMALINK%%
	</div>
</div>
