<div class="cherry-projects-single-meta">
	<div class="container">
		%%TITLE%%
		%%FEATUREDIMAGE%%
		%%VIDEOLIST%%
	</div>
</div>
<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__content">
		<div class="container">
			<div class="row">
					<div class="col-lg-12 col-xl-4">

						%%DETAILSLIST%%
						%%SKILLSLIST%%
					</div>
					<div class="col-lg-12 col-xl-8">
						%%CONTENT%%
					</div>
				</div>
		</div>
	</div>
</div>
