.instagram__cover {
	background-color: $regular_accent_color_1;
}
.invert .instagram__cover {
	background-color: $invert_link_color;
	color: $regular_accent_color_1;
}
.instagram__cover {
	color: $invert_accent_color_1;
}