.container {
	&.site-header,
	&.site-footer {
		padding-left: 0;
		padding-right: 0;
	}
	&.site-content {
		.content-layout-boxed & {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.position-two-sidebars {
	#primary {
		order: 0;
	}
	#sidebar-primary {
		order: 1;
	}
	#sidebar-secondary {
		order: 2;
	}
	@include media-breakpoint-up(md) {
		#primary {
			order: 1;
		}
		#sidebar-primary {
			order: 2;
		}
		#sidebar-secondary {
			order: 0;
		}
	}
}

.site-content_wrap {
	padding-top: 140px;
	@media (max-width: 767px) {
		padding-top: 50px;
	}
	.home & {
		padding-top: 0;
	}
}
