.site-footer {
    margin-top: 38px;
    position: relative;

    @include bp(max-width, $md - 1) {
        margin-top: 19px;
    }
}

.footer {
    &-pattern {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        @include transform(translateY(-100%));

        img {
            display: block;
            width: auto;
            max-width: none;

            @include bp(max-width, $md - 1) {
                height: 19px;
            }
        }
    }
}