.main-navigation {
    &.stuckMenu {
        .sub-menu {
            @include bp(min-width, $md) {
                background: $color-white-9;
                box-shadow: 0 0 5px $color-black-3;

                li {
                    border-color: $color-black-3;
                }
            }
        }
    }

    &.isStuck {
        .menu {
            @include bp(min-width, $md) {
                background: $color-white-9;
                box-shadow: 0 1px 5px $color-black-3;

                > li {
                    &::after {
                        color: $color-black;
                    }
    
                    > a {
                        color: $color-black;
                    }
                }
            }
        }
    }

    ul {
        ul {
            a {
                @include bp(min-width, $md) {
                    color: $color-black !important;
                }
            }
        }
    }

    .sub-menu {
        > li {
            > a {
                &:hover {
                    color: $color-red !important;
                }
            }
        }
    }
}