.main-navigation {
    &.isStuck {
        .menu {
            > li {
                > a {
                    color: $color-black;
                }
            }
        }
    }

    ul {
        ul {
            a {
                @include bp(min-width, $md) {
                    color: $color-black !important;
                }
            }
        }
    }

    .sub-menu {
        > li {
            > a {
                &:hover {
                    color: $color-red !important;
                }
            }
        }
    }
}