@charset "UTF-8";

/* Custom styles for caldera theme */

/* Background */

/* Color */

/* Breakpoints */

/* breakpoint */

/* calc */

/* flex */

/* flex basis */

/* align seft */

/* placeholder */

/* transform */

@font-face {
  font-family: 'laml';
  src: url("../fonts/laml/laml.eot?3y3usa");
  src: url("../fonts/laml/laml.eot?3y3usa#iefix") format("embedded-opentype"), url("../fonts/laml/laml.ttf?3y3usa") format("truetype"), url("../fonts/laml/laml.woff?3y3usa") format("woff"), url("../fonts/laml/laml.svg?3y3usa#laml") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, assets/sass/custom/vendor/_icon-style.scss */

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'laml' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 30, assets/sass/custom/vendor/_icon-style.scss */

.icon-engage:before {
  content: "";
}

/* line 35, assets/sass/custom/vendor/_icon-style.scss */

.icon-lion:before {
  content: "";
}

/* line 40, assets/sass/custom/vendor/_icon-style.scss */

.icon-modesty:before {
  content: "";
}

/* line 45, assets/sass/custom/vendor/_icon-style.scss */

.icon-partner:before {
  content: "";
}

/* line 50, assets/sass/custom/vendor/_icon-style.scss */

.icon-reliable:before {
  content: "";
}

/* line 55, assets/sass/custom/vendor/_icon-style.scss */

.icon-respect:before {
  content: "";
}

/* line 60, assets/sass/custom/vendor/_icon-style.scss */

.icon-safety:before {
  content: "";
}

/* line 65, assets/sass/custom/vendor/_icon-style.scss */

.icon-sustain:before {
  content: "";
}

/* line 70, assets/sass/custom/vendor/_icon-style.scss */

.icon-trust:before {
  content: "";
}

/* line 6, assets/sass/custom/component/_builder.scss */

.site-main .page .entry-content #tm_builder_outer_content .tm_pb_module > img {
  margin: 0;
}

/* line 12, assets/sass/custom/component/_builder.scss */

.site-main .page .entry-content #tm_builder_outer_content .pattern-image > img {
  width: auto;
  max-width: none;
}

@media only screen and (min-width: 2560px) {
  /* line 12, assets/sass/custom/component/_builder.scss */

  .site-main .page .entry-content #tm_builder_outer_content .pattern-image > img {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  /* line 12, assets/sass/custom/component/_builder.scss */

  .site-main .page .entry-content #tm_builder_outer_content .pattern-image > img {
    height: 19px;
  }
}

@media only screen and (min-width: 2560px) {
  /* line 11, assets/sass/custom/component/_builder.scss */

  .site-main .page .entry-content #tm_builder_outer_content .pattern-image {
    max-height: 38px;
    overflow: hidden;
  }
}

/* Page title */

/* line 2, assets/sass/custom/component/_page-title.scss */

.page-title {
  padding-top: 50px;
}

@media (min-width: 1200px) {
  /* line 2, assets/sass/custom/component/_page-title.scss */

  .page-title {
    padding-top: 145px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 10, assets/sass/custom/component/_page-title.scss */

  .page-title .tm_pb_column {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* line 17, assets/sass/custom/component/_page-title.scss */

.page-title-name h4 {
  color: #000000;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.267;
  text-transform: none;
  margin: 0;
}

@media (min-width: 768px) {
  /* line 17, assets/sass/custom/component/_page-title.scss */

  .page-title-name h4 {
    font-size: 30px;
  }
}

/* line 33, assets/sass/custom/component/_page-title.scss */

.page #tm_builder_outer_content .page-title-image img {
  max-width: none;
}

@media only screen and (max-width: 1199px) {
  /* line 33, assets/sass/custom/component/_page-title.scss */

  .page #tm_builder_outer_content .page-title-image img {
    display: none;
  }
}

/* line 4, assets/sass/custom/component/_form-style.scss */

.page .frm_style_formidable-style.with_frm_style input[type=text],
.page .frm_style_formidable-style.with_frm_style input[type=email],
.page .frm_style_formidable-style.with_frm_style input[type=tel],
.page .frm_style_formidable-style.with_frm_style select,
.page .frm_style_formidable-style.with_frm_style textarea {
  border-color: #aeaeae;
  color: #5b5b5b;
  padding: 10px 15px;
}

/* line 95, assets/sass/custom/utilities/_mixins.scss */

.page .frm_style_formidable-style.with_frm_style input[type=text]::-webkit-input-placeholder,
.page .frm_style_formidable-style.with_frm_style input[type=email]::-webkit-input-placeholder,
.page .frm_style_formidable-style.with_frm_style input[type=tel]::-webkit-input-placeholder {
  color: #5b5b5b;
}

/* line 98, assets/sass/custom/utilities/_mixins.scss */

.page .frm_style_formidable-style.with_frm_style input[type=text]:-moz-placeholder,
.page .frm_style_formidable-style.with_frm_style input[type=email]:-moz-placeholder,
.page .frm_style_formidable-style.with_frm_style input[type=tel]:-moz-placeholder {
  /* Firefox 18- */
  color: #5b5b5b;
}

/* line 101, assets/sass/custom/utilities/_mixins.scss */

.page .frm_style_formidable-style.with_frm_style input[type=text]::-moz-placeholder,
.page .frm_style_formidable-style.with_frm_style input[type=email]::-moz-placeholder,
.page .frm_style_formidable-style.with_frm_style input[type=tel]::-moz-placeholder {
  /* Firefox 19+ */
  color: #5b5b5b;
}

/* line 104, assets/sass/custom/utilities/_mixins.scss */

.page .frm_style_formidable-style.with_frm_style input[type=text]:-ms-input-placeholder,
.page .frm_style_formidable-style.with_frm_style input[type=email]:-ms-input-placeholder,
.page .frm_style_formidable-style.with_frm_style input[type=tel]:-ms-input-placeholder {
  color: #5b5b5b;
}

/* line 20, assets/sass/custom/component/_form-style.scss */

.page .frm_style_formidable-style.with_frm_style select {
  background-position: 97% 50%;
}

/* line 25, assets/sass/custom/component/_form-style.scss */

.page .frm_style_formidable-style.with_frm_style .frm_submit button {
  background: #cf1d39;
  border: 2px solid #cf1d39;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  height: 72px;
  width: auto;
  margin: 0;
  padding: 20px 45px;
}

/* line 37, assets/sass/custom/component/_form-style.scss */

.page .frm_style_formidable-style.with_frm_style .frm_submit button:hover {
  background: #ffffff;
  border-color: #cf1d39;
  color: #cf1d39;
}

/* line 1, assets/sass/custom/component/_our-mission.scss */

body {
  /* Our mission */
}

/* line 3, assets/sass/custom/component/_our-mission.scss */

body .our-mission {
  background: #cf1d39;
  padding: 50px 1.5625rem;
}

@media only screen and (min-width: 768px) {
  /* line 3, assets/sass/custom/component/_our-mission.scss */

  body .our-mission {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 3, assets/sass/custom/component/_our-mission.scss */

  body .our-mission {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media only screen and (min-width: 1921px) {
  /* line 3, assets/sass/custom/component/_our-mission.scss */

  body .our-mission {
    padding-left: calc((100% - 1800px)/2);
    padding-right: calc((100% - 1800px)/2);
  }
}

@media only screen and (max-width: 1199px) {
  /* line 25, assets/sass/custom/component/_our-mission.scss */

  body .our-mission .tm_pb_column {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* line 32, assets/sass/custom/component/_our-mission.scss */

body .our-mission-title h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;
}

/* line 40, assets/sass/custom/component/_our-mission.scss */

body .our-mission-title h2:before {
  content: '';
  display: block;
  height: 5px;
  width: 78px;
  background: #ffffff;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  /* line 32, assets/sass/custom/component/_our-mission.scss */

  body .our-mission-title h2 {
    font-size: 60px;
  }

  /* line 52, assets/sass/custom/component/_our-mission.scss */

  body .our-mission-title h2::before {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 32, assets/sass/custom/component/_our-mission.scss */

  body .our-mission-title h2 {
    font-size: 80px;
  }

  /* line 60, assets/sass/custom/component/_our-mission.scss */

  body .our-mission-title h2::before {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 32, assets/sass/custom/component/_our-mission.scss */

  body .our-mission-title h2 {
    margin: 0 0 50px;
  }
}

/* line 72, assets/sass/custom/component/_our-mission.scss */

body .our-mission-subtitle h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0;
  margin: 0 0 30px;
}

@media only screen and (min-width: 768px) {
  /* line 72, assets/sass/custom/component/_our-mission.scss */

  body .our-mission-subtitle h3 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 72, assets/sass/custom/component/_our-mission.scss */

  body .our-mission-subtitle h3 {
    font-size: 40px;
  }
}

/* line 91, assets/sass/custom/component/_our-mission.scss */

body .our-mission-text p {
  font-size: 16px;
  margin: 0 0 25px;
}

/* line 95, assets/sass/custom/component/_our-mission.scss */

body .our-mission-text p:last-child {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  /* line 95, assets/sass/custom/component/_our-mission.scss */

  body .our-mission-text p:last-child {
    text-align: left !important;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 91, assets/sass/custom/component/_our-mission.scss */

  body .our-mission-text p {
    font-size: 18px;
  }
}

/* line 113, assets/sass/custom/component/_our-mission.scss */

body.tm_pb_builder #tm_builder_outer_content .tm_builder_inner_content .our-mission-button {
  font-size: 16px;
  margin-top: 45px;
  padding: 20px 43px !important;
}

@media only screen and (max-width: 1199px) {
  /* line 113, assets/sass/custom/component/_our-mission.scss */

  body.tm_pb_builder #tm_builder_outer_content .tm_builder_inner_content .our-mission-button {
    padding: 15px 23px !important;
  }
}

/* line 1, assets/sass/custom/layout/_general.scss */

body {
  color: #000000;
}

/* line 4, assets/sass/custom/layout/_general.scss */

body .site-content_wrap {
  padding-top: 0;
}

/* line 9, assets/sass/custom/layout/_general.scss */

p {
  margin: 0 0 25px;
}

/* line 12, assets/sass/custom/layout/_general.scss */

p:last-child {
  margin: 0;
}

/* line 16, assets/sass/custom/layout/_general.scss */

h3 + p {
  margin: 0 0 25px;
}

/* line 21, assets/sass/custom/layout/_general.scss */

a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

/* line 4, assets/sass/custom/layout/_header.scss */

header.site-header.centered .header-container {
  padding-top: 70px;
}

@media only screen and (max-width: 767px) {
  /* line 4, assets/sass/custom/layout/_header.scss */

  header.site-header.centered .header-container {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  /* line 12, assets/sass/custom/layout/_header.scss */

  header.site-header.centered .site-branding {
    padding: 0 0 45px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 12, assets/sass/custom/layout/_header.scss */

  header.site-header.centered .site-branding {
    text-align: left;
  }
}

@media (min-width: 768px) {
  /* line 25, assets/sass/custom/layout/_header.scss */

  header.site-header.centered .main-navigation > .menu > .menu-item > a {
    margin: 20px 28px;
  }
}

/* line 36, assets/sass/custom/layout/_header.scss */

header .header_caption {
  padding: 0;
}

@media only screen and (max-width: 1200px) {
  /* line 36, assets/sass/custom/layout/_header.scss */

  header .header_caption {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  /* line 44, assets/sass/custom/layout/_header.scss */

  header .site-branding {
    align-self: auto;
    margin-left: 5%;
  }
}

/* line 52, assets/sass/custom/layout/_header.scss */

header .site-logo img {
  display: block;
}

@media only screen and (max-width: 767px) {
  /* line 51, assets/sass/custom/layout/_header.scss */

  header .site-logo {
    max-width: 160px;
  }
}

@media (min-width: 768px) {
  /* line 63, assets/sass/custom/layout/_header.scss */

  header .main-navigation .menu > li {
    font-size: 18px;
    letter-spacing: 0;
  }

  /* line 68, assets/sass/custom/layout/_header.scss */

  header .main-navigation .menu > li:after {
    bottom: 6px;
  }
}

@media (min-width: 768px) {
  /* line 77, assets/sass/custom/layout/_header.scss */

  .header-container {
    min-height: 330px;
  }
}

/* line 1, assets/sass/custom/layout/_footer.scss */

.site-footer {
  margin-top: 38px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  /* line 1, assets/sass/custom/layout/_footer.scss */

  .site-footer {
    margin-top: 19px;
  }
}

@media (min-width: 992px) {
  /* line 9, assets/sass/custom/layout/_footer.scss */

  .site-footer #menu-footer-menu-custom {
    margin-top: 25px;
  }
}

/* line 14, assets/sass/custom/layout/_footer.scss */

.site-footer #menu-footer-menu-custom li {
  font-size: 16px;
  margin: 0 0 15px;
}

/* line 22, assets/sass/custom/layout/_footer.scss */

.footer-pattern {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 29, assets/sass/custom/layout/_footer.scss */

.footer-pattern img {
  display: block;
  width: auto;
  max-width: none;
}

@media only screen and (min-width: 2560px) {
  /* line 29, assets/sass/custom/layout/_footer.scss */

  .footer-pattern img {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  /* line 29, assets/sass/custom/layout/_footer.scss */

  .footer-pattern img {
    height: 19px;
  }
}

@media only screen and (min-width: 2560px) {
  /* line 22, assets/sass/custom/layout/_footer.scss */

  .footer-pattern {
    max-height: 38px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 991px) {
  /* line 50, assets/sass/custom/layout/_footer.scss */

  .footer-area-wrap {
    padding: 0;
  }
}

/* line 55, assets/sass/custom/layout/_footer.scss */

.footer-area-wrap .widget {
  padding-top: 40px;
  padding-bottom: 50px;
}

/* line 59, assets/sass/custom/layout/_footer.scss */

.footer-area-wrap .widget:last-child {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  /* line 55, assets/sass/custom/layout/_footer.scss */

  .footer-area-wrap .widget {
    padding-top: 75px;
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 991px) {
  /* line 55, assets/sass/custom/layout/_footer.scss */

  .footer-area-wrap .widget {
    margin-bottom: 0;
  }

  /* line 71, assets/sass/custom/layout/_footer.scss */

  .footer-area-wrap .widget + .widget {
    padding-top: 0;
  }
}

/* line 77, assets/sass/custom/layout/_footer.scss */

.footer-area-wrap .textwidget {
  max-width: 100%;
}

@media (min-width: 1200px) {
  /* line 77, assets/sass/custom/layout/_footer.scss */

  .footer-area-wrap .textwidget {
    max-width: 380px;
  }
}

/* line 84, assets/sass/custom/layout/_footer.scss */

.footer-area-wrap .textwidget img {
  margin-bottom: 20px;
}

/* line 88, assets/sass/custom/layout/_footer.scss */

.footer-area-wrap .textwidget .info-block {
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 992px) {
  /* line 93, assets/sass/custom/layout/_footer.scss */

  .footer-area-wrap .textwidget .info-block:first-child {
    margin-top: 25px;
  }
}

/* line 101, assets/sass/custom/layout/_footer.scss */

.footer-container {
  display: none;
}

/* line 2, assets/sass/custom/pages/_cms.scss */

.cms-page-content {
  padding: 50px 0;
}

@media only screen and (min-width: 1200px) {
  /* line 2, assets/sass/custom/pages/_cms.scss */

  .cms-page-content {
    padding: 100px 0;
  }
}

/* line 1, assets/sass/custom/pages/_home.scss */

.home {
  /* Banner */
  /* Project terms */
  /* About us */
  /* Why us */
  /* Find us */
  /* Contact us */
}

@media only screen and (min-width: 768px) {
  /* line 4, assets/sass/custom/pages/_home.scss */

  .home .showcase-active .header-wrapper {
    min-height: 100vh;
  }
}

@media only screen and (min-width: 768px) {
  /* line 11, assets/sass/custom/pages/_home.scss */

  .home .showcase-panel {
    margin-bottom: -38px;
    padding: 0 15px 55px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 11, assets/sass/custom/pages/_home.scss */

  .home .showcase-panel {
    padding: 145px 15px 100px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 11, assets/sass/custom/pages/_home.scss */

  .home .showcase-panel {
    margin-bottom: -19px;
  }
}

/* line 26, assets/sass/custom/pages/_home.scss */

.home .showcase-panel__subtitle {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0 0 10px;
}

@media only screen and (min-width: 768px) {
  /* line 26, assets/sass/custom/pages/_home.scss */

  .home .showcase-panel__subtitle {
    font-size: 65px;
  }
}

/* line 41, assets/sass/custom/pages/_home.scss */

.home .showcase-panel__description {
  font-size: 20px;
  font-weight: 700;
  max-width: 100%;
  margin-bottom: 50px;
}

@media only screen and (min-width: 1200px) {
  /* line 41, assets/sass/custom/pages/_home.scss */

  .home .showcase-panel__description {
    font-size: 25px;
    max-width: 1000px;
    margin-bottom: 100px;
  }
}

/* line 54, assets/sass/custom/pages/_home.scss */

.home .showcase-panel__btn {
  font-size: 16px;
}

/* line 62, assets/sass/custom/pages/_home.scss */

.home.tm_pb_builder #tm_builder_outer_content .projects-terms-container.grid-layout {
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  /* line 66, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .projects-terms-container.grid-layout .projects-terms-list .projects-terms-item {
    flex-basis: 25% !important;
    width: 25% !important;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 79, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .projects-terms-container .project-terms-media:hover .term-permalink.simple-icon {
    -webkit-transform: translateY(calc(50% + 30px));
    transform: translateY(calc(50% + 30px));
  }
}

@media only screen and (min-width: 1200px) {
  /* line 88, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .projects-terms-container .project-terms-caption {
    padding: 60px 40px;
  }
}

/* line 93, assets/sass/custom/pages/_home.scss */

.home.tm_pb_builder #tm_builder_outer_content .projects-terms-container .project-terms-caption h5 {
  font-weight: 300;
}

@media only screen and (min-width: 1200px) {
  /* line 93, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .projects-terms-container .project-terms-caption h5 {
    font-size: 25px;
    line-height: 1.46;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 93, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .projects-terms-container .project-terms-caption h5 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 106, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .projects-terms-container .project-terms-caption .term-permalink {
    margin: 0 0 30px 25px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 120, assets/sass/custom/pages/_home.scss */

  .home .about-us .tm_pb_column {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* line 127, assets/sass/custom/pages/_home.scss */

.home .about-us-image img {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  /* line 127, assets/sass/custom/pages/_home.scss */

  .home .about-us-image img {
    display: none;
  }
}

/* line 136, assets/sass/custom/pages/_home.scss */

.home .about-us-content {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  /* line 136, assets/sass/custom/pages/_home.scss */

  .home .about-us-content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 136, assets/sass/custom/pages/_home.scss */

  .home .about-us-content {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}

/* line 154, assets/sass/custom/pages/_home.scss */

.home .about-us-title h2 {
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;
}

/* line 162, assets/sass/custom/pages/_home.scss */

.home .about-us-title h2:before {
  content: '';
  display: block;
  height: 5px;
  width: 78px;
  background: #cf1d39;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  /* line 154, assets/sass/custom/pages/_home.scss */

  .home .about-us-title h2 {
    font-size: 60px;
  }

  /* line 174, assets/sass/custom/pages/_home.scss */

  .home .about-us-title h2::before {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 154, assets/sass/custom/pages/_home.scss */

  .home .about-us-title h2 {
    margin: 0 0 60px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 154, assets/sass/custom/pages/_home.scss */

  .home .about-us-title h2 {
    font-size: 80px;
  }

  /* line 186, assets/sass/custom/pages/_home.scss */

  .home .about-us-title h2::before {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 154, assets/sass/custom/pages/_home.scss */

  .home .about-us-title h2 {
    margin: 0 0 50px;
  }
}

/* line 198, assets/sass/custom/pages/_home.scss */

.home .about-us-subtitle h3 {
  color: #000000;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0;
  margin: 0 0 30px;
}

@media only screen and (min-width: 768px) {
  /* line 198, assets/sass/custom/pages/_home.scss */

  .home .about-us-subtitle h3 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 198, assets/sass/custom/pages/_home.scss */

  .home .about-us-subtitle h3 {
    font-size: 40px;
  }
}

/* line 217, assets/sass/custom/pages/_home.scss */

.home .about-us-text p {
  font-size: 16px;
  margin: 0 0 25px;
}

/* line 221, assets/sass/custom/pages/_home.scss */

.home .about-us-text p:last-child {
  margin: 0;
}

@media only screen and (min-width: 1600px) {
  /* line 217, assets/sass/custom/pages/_home.scss */

  .home .about-us-text p {
    font-size: 18px;
  }
}

/* line 234, assets/sass/custom/pages/_home.scss */

.home.tm_pb_builder #tm_builder_outer_content .about-us-button {
  font-size: 16px;
  margin-top: 65px;
  padding: 20px 43px !important;
}

@media only screen and (max-width: 1199px) {
  /* line 234, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .about-us-button {
    margin-top: 45px;
    padding: 15px 23px !important;
  }
}

/* line 248, assets/sass/custom/pages/_home.scss */

.home .why-us {
  background: #313131;
}

/* line 251, assets/sass/custom/pages/_home.scss */

.home .why-us-title {
  padding: 85px 0 70px;
}

@media only screen and (max-width: 1199px) {
  /* line 251, assets/sass/custom/pages/_home.scss */

  .home .why-us-title {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 251, assets/sass/custom/pages/_home.scss */

  .home .why-us-title {
    padding-top: 50px;
  }
}

/* line 262, assets/sass/custom/pages/_home.scss */

.home .why-us-title h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;
}

/* line 270, assets/sass/custom/pages/_home.scss */

.home .why-us-title h2:before {
  content: '';
  display: block;
  height: 5px;
  width: 78px;
  background: #cf1d39;
  margin: 0 auto 10px;
}

@media only screen and (min-width: 768px) {
  /* line 262, assets/sass/custom/pages/_home.scss */

  .home .why-us-title h2 {
    font-size: 60px;
  }

  /* line 282, assets/sass/custom/pages/_home.scss */

  .home .why-us-title h2::before {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 262, assets/sass/custom/pages/_home.scss */

  .home .why-us-title h2 {
    font-size: 80px;
  }

  /* line 290, assets/sass/custom/pages/_home.scss */

  .home .why-us-title h2::before {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 297, assets/sass/custom/pages/_home.scss */

  .home .why-us-subtitle {
    padding-top: 20px;
  }
}

/* line 302, assets/sass/custom/pages/_home.scss */

.home .why-us-subtitle h3 {
  display: inline-block;
  vertical-align: top;
  color: #78bee0;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0;
  text-align: center;
  max-width: 680px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  /* line 302, assets/sass/custom/pages/_home.scss */

  .home .why-us-subtitle h3 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 302, assets/sass/custom/pages/_home.scss */

  .home .why-us-subtitle h3 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 302, assets/sass/custom/pages/_home.scss */

  .home .why-us-subtitle h3 {
    display: block;
    margin: 0 auto 30px;
  }
}

/* line 329, assets/sass/custom/pages/_home.scss */

.home .why-us-text {
  max-width: 680px;
}

@media only screen and (max-width: 1199px) {
  /* line 329, assets/sass/custom/pages/_home.scss */

  .home .why-us-text {
    margin: 0 auto;
  }
}

/* line 336, assets/sass/custom/pages/_home.scss */

.home .why-us-text p {
  color: #ffffff;
  font-size: 16px;
  margin: 0 0 25px;
}

/* line 341, assets/sass/custom/pages/_home.scss */

.home .why-us-text p:last-child {
  margin: 0;
}

@media only screen and (min-width: 1600px) {
  /* line 336, assets/sass/custom/pages/_home.scss */

  .home .why-us-text p {
    font-size: 18px;
  }
}

/* line 351, assets/sass/custom/pages/_home.scss */

.home .why-us-content {
  padding-bottom: 110px;
}

@media only screen and (max-width: 1199px) {
  /* line 351, assets/sass/custom/pages/_home.scss */

  .home .why-us-content {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }

  /* line 358, assets/sass/custom/pages/_home.scss */

  .home .why-us-content .tm_pb_column {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  /* line 351, assets/sass/custom/pages/_home.scss */

  .home .why-us-content {
    padding-bottom: 50px;
  }
}

/* line 372, assets/sass/custom/pages/_home.scss */

.home .find-us-title {
  padding: 50px 0;
}

@media only screen and (min-width: 768px) {
  /* line 372, assets/sass/custom/pages/_home.scss */

  .home .find-us-title {
    padding: 80px 0;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 372, assets/sass/custom/pages/_home.scss */

  .home .find-us-title {
    padding: 100px 0;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 372, assets/sass/custom/pages/_home.scss */

  .home .find-us-title {
    padding: 100px 0 230px;
  }
}

@media only screen and (min-width: 1921px) {
  /* line 372, assets/sass/custom/pages/_home.scss */

  .home .find-us-title {
    padding: 100px 0 460px;
  }
}

/* line 391, assets/sass/custom/pages/_home.scss */

.home .find-us-title h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
}

/* line 399, assets/sass/custom/pages/_home.scss */

.home .find-us-title h2:before {
  content: '';
  display: block;
  height: 5px;
  width: 78px;
  background: #ffffff;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  /* line 391, assets/sass/custom/pages/_home.scss */

  .home .find-us-title h2 {
    font-size: 60px;
  }

  /* line 411, assets/sass/custom/pages/_home.scss */

  .home .find-us-title h2::before {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 391, assets/sass/custom/pages/_home.scss */

  .home .find-us-title h2 {
    font-size: 80px;
  }

  /* line 419, assets/sass/custom/pages/_home.scss */

  .home .find-us-title h2::before {
    margin-bottom: 30px;
  }
}

/* line 428, assets/sass/custom/pages/_home.scss */

.home .contact-us {
  padding: 65px 0 55px;
}

@media only screen and (min-width: 1200px) {
  /* line 428, assets/sass/custom/pages/_home.scss */

  .home .contact-us {
    padding: 135px 0 125px;
  }
}

/* line 436, assets/sass/custom/pages/_home.scss */

.home .contact-us-text p {
  color: #78bee0;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  /* line 436, assets/sass/custom/pages/_home.scss */

  .home .contact-us-text p {
    font-size: 36px;
    line-height: 1.7;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 436, assets/sass/custom/pages/_home.scss */

  .home .contact-us-text p {
    font-size: 60px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 436, assets/sass/custom/pages/_home.scss */

  .home .contact-us-text p {
    font-size: 80px;
    line-height: 0.9;
  }
}

/* line 463, assets/sass/custom/pages/_home.scss */

.home.tm_pb_builder #tm_builder_outer_content .contact-us-button {
  font-size: 16px;
  white-space: nowrap;
  padding: 20px 45px !important;
}

@media only screen and (max-width: 1199px) {
  /* line 463, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .contact-us-button {
    padding: 15px 25px !important;
  }
}

@media only screen and (max-width: 767px) {
  /* line 463, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .contact-us-button {
    display: block;
    margin-top: 30px;
  }
}

/* About us */

/* line 3, assets/sass/custom/pages/_about.scss */

.about-us-block {
  padding: 50px 1.5625rem;
}

@media only screen and (min-width: 768px) {
  /* line 3, assets/sass/custom/pages/_about.scss */

  .about-us-block {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 3, assets/sass/custom/pages/_about.scss */

  .about-us-block {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media only screen and (min-width: 1921px) {
  /* line 3, assets/sass/custom/pages/_about.scss */

  .about-us-block {
    padding-left: calc((100% - 1800px)/2);
    padding-right: calc((100% - 1800px)/2);
  }
}

@media only screen and (max-width: 1199px) {
  /* line 24, assets/sass/custom/pages/_about.scss */

  .about-us-block .tm_pb_column {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 29, assets/sass/custom/pages/_about.scss */

  .tm_pb_builder #tm_builder_outer_content .about-us-block .tm_pb_column:first-child {
    order: 2;
  }

  /* line 33, assets/sass/custom/pages/_about.scss */

  .tm_pb_builder #tm_builder_outer_content .about-us-block .tm_pb_column:last-child {
    order: 1;
  }
}

/* line 41, assets/sass/custom/pages/_about.scss */

.about-us-block-title h2 {
  color: #cf1d39;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  text-align: right;
  margin: 0;
}

/* line 50, assets/sass/custom/pages/_about.scss */

.about-us-block-title h2 span {
  clear: both;
  display: block;
}

/* line 55, assets/sass/custom/pages/_about.scss */

.about-us-block-title h2:before {
  content: '';
  display: block;
  float: right;
  height: 5px;
  width: 78px;
  background: #cf1d39;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  /* line 41, assets/sass/custom/pages/_about.scss */

  .about-us-block-title h2 {
    font-size: 60px;
  }

  /* line 68, assets/sass/custom/pages/_about.scss */

  .about-us-block-title h2::before {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 41, assets/sass/custom/pages/_about.scss */

  .about-us-block-title h2 {
    font-size: 80px;
  }

  /* line 76, assets/sass/custom/pages/_about.scss */

  .about-us-block-title h2::before {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 41, assets/sass/custom/pages/_about.scss */

  .about-us-block-title h2 {
    margin: 0 0 50px;
  }
}

/* line 88, assets/sass/custom/pages/_about.scss */

.about-us-block-subtitle h3 {
  color: #000000;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0;
  margin: 0 0 30px;
}

@media only screen and (min-width: 768px) {
  /* line 88, assets/sass/custom/pages/_about.scss */

  .about-us-block-subtitle h3 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 88, assets/sass/custom/pages/_about.scss */

  .about-us-block-subtitle h3 {
    font-size: 40px;
  }
}

/* line 107, assets/sass/custom/pages/_about.scss */

.about-us-block-text p {
  font-size: 16px;
  margin: 0 0 25px;
}

/* line 111, assets/sass/custom/pages/_about.scss */

.about-us-block-text p:last-child {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  /* line 111, assets/sass/custom/pages/_about.scss */

  .about-us-block-text p:last-child {
    text-align: left !important;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 107, assets/sass/custom/pages/_about.scss */

  .about-us-block-text p {
    font-size: 18px;
  }
}

/* Why us */

/* line 130, assets/sass/custom/pages/_about.scss */

.why-us-block-title {
  padding: 70px 0;
}

@media only screen and (max-width: 991px) {
  /* line 130, assets/sass/custom/pages/_about.scss */

  .why-us-block-title {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 130, assets/sass/custom/pages/_about.scss */

  .why-us-block-title {
    padding-top: 50px;
  }
}

/* line 141, assets/sass/custom/pages/_about.scss */

.why-us-block-title h2 {
  color: #959595;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;
}

/* line 149, assets/sass/custom/pages/_about.scss */

.why-us-block-title h2:before {
  content: '';
  display: block;
  height: 5px;
  width: 78px;
  background: #cf1d39;
  margin: 0 auto 10px;
}

@media only screen and (min-width: 768px) {
  /* line 141, assets/sass/custom/pages/_about.scss */

  .why-us-block-title h2 {
    font-size: 60px;
  }

  /* line 161, assets/sass/custom/pages/_about.scss */

  .why-us-block-title h2::before {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 141, assets/sass/custom/pages/_about.scss */

  .why-us-block-title h2 {
    font-size: 80px;
  }

  /* line 169, assets/sass/custom/pages/_about.scss */

  .why-us-block-title h2::before {
    margin-bottom: 30px;
  }
}

/* line 176, assets/sass/custom/pages/_about.scss */

.why-us-block-list {
  padding: 0 1.5625rem;
}

/* line 181, assets/sass/custom/pages/_about.scss */

.why-us-block-list.bottom-list {
  padding-bottom: 50px;
}

@media (min-width: 992px) {
  /* line 186, assets/sass/custom/pages/_about.scss */

  .why-us-block-list.bottom-list {
    padding-bottom: 125px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 176, assets/sass/custom/pages/_about.scss */

  .why-us-block-list {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media only screen and (min-width: 1921px) {
  /* line 176, assets/sass/custom/pages/_about.scss */

  .why-us-block-list {
    padding-left: calc((100% - 1740px)/2);
    padding-right: calc((100% - 1740px)/2);
  }
}

@media only screen and (max-width: 991px) {
  /* line 203, assets/sass/custom/pages/_about.scss */

  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_6,
  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_10 {
    border-right: none;
  }

  /* line 208, assets/sass/custom/pages/_about.scss */

  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_7,
  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_8 {
    padding-top: 50px;
  }

  /* line 213, assets/sass/custom/pages/_about.scss */

  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_9,
  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_10 {
    border-bottom: 1px solid #cec4c5;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 221, assets/sass/custom/pages/_about.scss */

  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_5,
  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_7,
  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_9,
  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_11 {
    border-right: none;
  }

  /* line 228, assets/sass/custom/pages/_about.scss */

  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_6 {
    padding-top: 50px;
  }

  /* line 232, assets/sass/custom/pages/_about.scss */

  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_11 {
    padding-bottom: 50px;
  }

  /* line 236, assets/sass/custom/pages/_about.scss */

  .tm_pb_builder #tm_builder_outer_content .why-us-block-list .tm_pb_column_12 {
    border-bottom: none;
  }
}

/* Contact us */

/* line 247, assets/sass/custom/pages/_about.scss */

.contact-us-block {
  margin-bottom: -19px;
  padding: 75px 0;
}

@media only screen and (min-width: 768px) {
  /* line 247, assets/sass/custom/pages/_about.scss */

  .contact-us-block {
    margin-bottom: -38px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 247, assets/sass/custom/pages/_about.scss */

  .contact-us-block {
    padding: 150px 0;
  }
}

/* line 260, assets/sass/custom/pages/_about.scss */

.contact-us-block-text p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  /* line 260, assets/sass/custom/pages/_about.scss */

  .contact-us-block-text p {
    font-size: 36px;
    line-height: 1.7;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 260, assets/sass/custom/pages/_about.scss */

  .contact-us-block-text p {
    font-size: 60px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 284, assets/sass/custom/pages/_about.scss */

  .page.tm_pb_builder #tm_builder_outer_content .why-us-block-item {
    padding: 0 40px;
  }
}

/* line 289, assets/sass/custom/pages/_about.scss */

.page.tm_pb_builder #tm_builder_outer_content .why-us-block-item .tm_pb_main_blurb_image {
  margin-bottom: 15px;
}

/* line 293, assets/sass/custom/pages/_about.scss */

.page.tm_pb_builder #tm_builder_outer_content .why-us-block-item h4 {
  color: #000000;
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 40px;
  padding: 0;
}

/* line 302, assets/sass/custom/pages/_about.scss */

.page.tm_pb_builder #tm_builder_outer_content .contact-us-block-button {
  font-size: 16px;
  white-space: nowrap;
  padding: 20px 45px !important;
}

@media only screen and (max-width: 1199px) {
  /* line 302, assets/sass/custom/pages/_about.scss */

  .page.tm_pb_builder #tm_builder_outer_content .contact-us-block-button {
    padding: 15px 25px !important;
  }
}

@media only screen and (max-width: 767px) {
  /* line 302, assets/sass/custom/pages/_about.scss */

  .page.tm_pb_builder #tm_builder_outer_content .contact-us-block-button {
    display: block;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 991px) {
  /* line 4, assets/sass/custom/pages/_contact.scss */

  .contact-page-content .tm_pb_column {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* line 11, assets/sass/custom/pages/_contact.scss */

.contact-page-title {
  padding: 50px 0 40px;
}

@media only screen and (min-width: 1200px) {
  /* line 11, assets/sass/custom/pages/_contact.scss */

  .contact-page-title {
    padding-top: 90px;
  }
}

/* line 18, assets/sass/custom/pages/_contact.scss */

.contact-page-title h2 {
  color: #000000;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.24;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  /* line 18, assets/sass/custom/pages/_contact.scss */

  .contact-page-title h2 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 18, assets/sass/custom/pages/_contact.scss */

  .contact-page-title h2 {
    font-size: 50px;
  }
}

/* line 35, assets/sass/custom/pages/_contact.scss */

.contact-page-info {
  background: #cf1d39;
  padding: 15px 20px;
}

@media only screen and (min-width: 992px) {
  /* line 35, assets/sass/custom/pages/_contact.scss */

  .contact-page-info {
    margin-bottom: 190px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 35, assets/sass/custom/pages/_contact.scss */

  .contact-page-info {
    max-width: 350px;
    padding: 35px 40px;
  }
}

@media only screen and (max-width: 991px) {
  /* line 35, assets/sass/custom/pages/_contact.scss */

  .contact-page-info {
    margin-bottom: 40px;
  }
}

/* line 52, assets/sass/custom/pages/_contact.scss */

.contact-page-info p {
  color: #ffffff;
  font-size: 18px;
  margin: 0 0 25px;
}

/* line 57, assets/sass/custom/pages/_contact.scss */

.contact-page-info p:last-child {
  margin: 0;
}

/* line 62, assets/sass/custom/pages/_contact.scss */

.contact-page-info a {
  color: #ffffff !important;
  text-decoration: none !important;
}

/* line 68, assets/sass/custom/pages/_contact.scss */

.contact-page-form {
  padding-bottom: 50px;
}

@media only screen and (min-width: 1200px) {
  /* line 68, assets/sass/custom/pages/_contact.scss */

  .contact-page-form {
    padding-bottom: 170px;
  }
}

/* line 2, assets/sass/custom/pages/_product.scss */

.product-content {
  margin-bottom: 50px;
  padding-top: 50px;
}

@media only screen and (min-width: 1200px) {
  /* line 2, assets/sass/custom/pages/_product.scss */

  .product-content {
    margin-bottom: 125px;
    padding-top: 115px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 12, assets/sass/custom/pages/_product.scss */

  .product-content .tm_pb_column {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 18, assets/sass/custom/pages/_product.scss */

  .product-content .tm_pb_button_module_wrapper {
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
    width: auto;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 18, assets/sass/custom/pages/_product.scss */

  .product-content .tm_pb_button_module_wrapper {
    margin-right: 24px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 32, assets/sass/custom/pages/_product.scss */

  .product-image {
    margin-bottom: 50px;
  }
}

/* line 38, assets/sass/custom/pages/_product.scss */

.product-info {
  margin-bottom: 40px;
}

@media only screen and (min-width: 1200px) {
  /* line 38, assets/sass/custom/pages/_product.scss */

  .product-info {
    margin-bottom: 60px;
  }
}

/* line 45, assets/sass/custom/pages/_product.scss */

.product-info h2 {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1;
  margin: 0 0 30px;
}

@media only screen and (min-width: 768px) {
  /* line 45, assets/sass/custom/pages/_product.scss */

  .product-info h2 {
    font-size: 60px;
    margin: 0 0 40px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 45, assets/sass/custom/pages/_product.scss */

  .product-info h2 {
    font-size: 70px;
  }
}

/* line 63, assets/sass/custom/pages/_product.scss */

.product-info h3 {
  color: #000000;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.25;
  text-transform: none;
  margin: 0 0 25px;
}

@media only screen and (min-width: 768px) {
  /* line 63, assets/sass/custom/pages/_product.scss */

  .product-info h3 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 63, assets/sass/custom/pages/_product.scss */

  .product-info h3 {
    font-size: 40px;
  }
}

/* line 81, assets/sass/custom/pages/_product.scss */

.product-info p,
.product-info ul li {
  font-size: 16px;
}

@media only screen and (min-width: 1600px) {
  /* line 81, assets/sass/custom/pages/_product.scss */

  .product-info p,
  .product-info ul li {
    font-size: 18px;
  }
}

/* line 89, assets/sass/custom/pages/_product.scss */

.product-info ul {
  margin: 0 0 25px;
}

/* line 94, assets/sass/custom/pages/_product.scss */

.product-related {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  /* line 94, assets/sass/custom/pages/_product.scss */

  .product-related {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 94, assets/sass/custom/pages/_product.scss */

  .product-related {
    margin-bottom: 200px;
  }
}

/* line 106, assets/sass/custom/pages/_product.scss */

.product-related-title h4 {
  color: #000000;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none;
  margin: 0 0 25px;
}

@media only screen and (min-width: 768px) {
  /* line 106, assets/sass/custom/pages/_product.scss */

  .product-related-title h4 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) {
  /* line 122, assets/sass/custom/pages/_product.scss */

  .product-related .projects-terms-container .projects-terms-list {
    margin: 0 -10px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 122, assets/sass/custom/pages/_product.scss */

  .product-related .projects-terms-container .projects-terms-list {
    margin: 0 -30px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 132, assets/sass/custom/pages/_product.scss */

  .product-related .projects-terms-container .inner-wrapper {
    margin: 10px 30px !important;
  }
}

/* line 144, assets/sass/custom/pages/_product.scss */

.page.tm_pb_builder #tm_builder_outer_content .product-button {
  font-size: 16px;
  padding: 20px 35px !important;
}

@media only screen and (max-width: 1199px) {
  /* line 144, assets/sass/custom/pages/_product.scss */

  .page.tm_pb_builder #tm_builder_outer_content .product-button {
    padding: 15px 25px !important;
  }
}

@media only screen and (max-width: 767px) {
  /* line 144, assets/sass/custom/pages/_product.scss */

  .page.tm_pb_builder #tm_builder_outer_content .product-button {
    display: block;
  }
}

/* line 157, assets/sass/custom/pages/_product.scss */

.page.tm_pb_builder #tm_builder_outer_content .product-tabs {
  padding-top: 0;
}

/* line 160, assets/sass/custom/pages/_product.scss */

.page.tm_pb_builder #tm_builder_outer_content .product-tabs .tm_pb_all_tabs {
  border-top-color: #aeaeae;
  padding: 45px 0;
}

@media only screen and (max-width: 1199px) {
  /* line 167, assets/sass/custom/pages/_product.scss */

  .page.tm_pb_builder #tm_builder_outer_content .product-tabs .tm_pb_tabs_controls li a {
    padding: 10px 20px;
  }
}

/* line 178, assets/sass/custom/pages/_product.scss */

.page.tm_pb_builder #tm_builder_outer_content .product-related .projects-terms-container.grid-layout {
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  /* line 182, assets/sass/custom/pages/_product.scss */

  .page.tm_pb_builder #tm_builder_outer_content .product-related .projects-terms-container.grid-layout .projects-terms-list .projects-terms-item {
    flex-basis: 25% !important;
    width: 25% !important;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 194, assets/sass/custom/pages/_product.scss */

  .page.tm_pb_builder #tm_builder_outer_content .product-related .projects-terms-container .project-terms-media:hover h5 {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 1200px) {
  /* line 203, assets/sass/custom/pages/_product.scss */

  .page.tm_pb_builder #tm_builder_outer_content .product-related .projects-terms-container .project-terms-caption {
    padding: 50px;
  }
}

/* line 208, assets/sass/custom/pages/_product.scss */

.page.tm_pb_builder #tm_builder_outer_content .product-related .projects-terms-container .project-terms-caption h5 {
  font-weight: 300;
}

@media only screen and (min-width: 1200px) {
  /* line 208, assets/sass/custom/pages/_product.scss */

  .page.tm_pb_builder #tm_builder_outer_content .product-related .projects-terms-container .project-terms-caption h5 {
    font-size: 25px;
    line-height: 1.46;
    text-align: left;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 1600px) {
  /* line 208, assets/sass/custom/pages/_product.scss */

  .page.tm_pb_builder #tm_builder_outer_content .product-related .projects-terms-container .project-terms-caption h5 {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1200px) {
  /* line 223, assets/sass/custom/pages/_product.scss */

  .page.tm_pb_builder #tm_builder_outer_content .product-related .projects-terms-container .project-terms-caption .term-permalink {
    margin: 0;
  }
}