@charset "UTF-8";

/* Custom styles for caldera theme */

/* Background */

/* Color */

/* Breakpoints */

/* breakpoint */

/* calc */

/* flex */

@font-face {
  font-family: 'laml';
  src: url("../fonts/laml/laml.eot?3y3usa");
  src: url("../fonts/laml/laml.eot?3y3usa#iefix") format("embedded-opentype"), url("../fonts/laml/laml.ttf?3y3usa") format("truetype"), url("../fonts/laml/laml.woff?3y3usa") format("woff"), url("../fonts/laml/laml.svg?3y3usa#laml") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, assets/sass/custom/vendor/_icon-style.scss */

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'laml' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 30, assets/sass/custom/vendor/_icon-style.scss */

.icon-engage:before {
  content: "";
}

/* line 35, assets/sass/custom/vendor/_icon-style.scss */

.icon-lion:before {
  content: "";
}

/* line 40, assets/sass/custom/vendor/_icon-style.scss */

.icon-modesty:before {
  content: "";
}

/* line 45, assets/sass/custom/vendor/_icon-style.scss */

.icon-partner:before {
  content: "";
}

/* line 50, assets/sass/custom/vendor/_icon-style.scss */

.icon-reliable:before {
  content: "";
}

/* line 55, assets/sass/custom/vendor/_icon-style.scss */

.icon-respect:before {
  content: "";
}

/* line 60, assets/sass/custom/vendor/_icon-style.scss */

.icon-safety:before {
  content: "";
}

/* line 65, assets/sass/custom/vendor/_icon-style.scss */

.icon-sustain:before {
  content: "";
}

/* line 70, assets/sass/custom/vendor/_icon-style.scss */

.icon-trust:before {
  content: "";
}

/* line 6, assets/sass/custom/component/_builder.scss */

.site-main .page .entry-content #tm_builder_outer_content .tm_pb_module > img {
  margin: 0;
}

@media (min-width: 768px) {
  /* line 12, assets/sass/custom/component/_builder.scss */

  .site-main .page .entry-content #tm_builder_outer_content .pattern-image > img {
    width: auto;
    max-width: none;
  }
}

/* line 4, assets/sass/custom/layout/_header.scss */

header.site-header.centered .header-container {
  padding-top: 70px;
}

@media (min-width: 768px) {
  /* line 8, assets/sass/custom/layout/_header.scss */

  header.site-header.centered .site-branding {
    padding: 0 0 45px;
  }
}

@media (min-width: 768px) {
  /* line 17, assets/sass/custom/layout/_header.scss */

  header.site-header.centered .main-navigation > .menu > .menu-item > a {
    margin: 20px 28px;
  }
}

/* line 28, assets/sass/custom/layout/_header.scss */

header .header_caption {
  padding: 0;
}

@media only screen and (max-width: 1200px) {
  /* line 28, assets/sass/custom/layout/_header.scss */

  header .header_caption {
    display: none;
  }
}

/* line 37, assets/sass/custom/layout/_header.scss */

header .site-logo img {
  display: block;
}

@media (min-width: 768px) {
  /* line 44, assets/sass/custom/layout/_header.scss */

  header .main-navigation .menu > li {
    font-size: 18px;
    letter-spacing: 0;
  }

  /* line 49, assets/sass/custom/layout/_header.scss */

  header .main-navigation .menu > li:after {
    bottom: 6px;
  }
}

@media (min-width: 768px) {
  /* line 58, assets/sass/custom/layout/_header.scss */

  .header-container {
    min-height: 330px;
  }
}

/* line 1, assets/sass/custom/pages/_home.scss */

.home {
  /* Banner */
  /* Our mission */
  /* Project terms */
  /* About us */
  /* Why us */
  /* Find us */
  /* Contact us */
}

@media (min-width: 768px) {
  /* line 4, assets/sass/custom/pages/_home.scss */

  .home .showcase-active .header-wrapper {
    min-height: 100vh;
  }
}

@media (min-width: 768px) {
  /* line 11, assets/sass/custom/pages/_home.scss */

  .home .showcase-panel {
    margin-bottom: -38px;
    padding: 0 15px 55px;
  }
}

@media (min-width: 1200px) {
  /* line 11, assets/sass/custom/pages/_home.scss */

  .home .showcase-panel {
    padding: 145px 15px 100px;
  }
}

/* line 22, assets/sass/custom/pages/_home.scss */

.home .showcase-panel__subtitle {
  font-weight: 700;
}

@media (min-width: 768px) {
  /* line 22, assets/sass/custom/pages/_home.scss */

  .home .showcase-panel__subtitle {
    font-size: 65px;
    letter-spacing: 0;
    margin: 0 0 10px;
  }
}

@media (min-width: 1200px) {
  /* line 22, assets/sass/custom/pages/_home.scss */

  .home .showcase-panel__subtitle {
    font-size: 85px;
  }
}

/* line 36, assets/sass/custom/pages/_home.scss */

.home .showcase-panel__description {
  font-size: 20px;
  font-weight: 700;
  max-width: 100%;
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  /* line 36, assets/sass/custom/pages/_home.scss */

  .home .showcase-panel__description {
    font-size: 25px;
    max-width: 1000px;
    margin-bottom: 100px;
  }
}

/* line 49, assets/sass/custom/pages/_home.scss */

.home .showcase-panel__btn {
  font-size: 16px;
}

/* line 54, assets/sass/custom/pages/_home.scss */

.home .our-mission {
  background: #cf1d39;
  padding: 50px 1.5625rem;
}

@media (min-width: 768px) {
  /* line 54, assets/sass/custom/pages/_home.scss */

  .home .our-mission {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  /* line 54, assets/sass/custom/pages/_home.scss */

  .home .our-mission {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media only screen and (min-width: 1921px) {
  /* line 54, assets/sass/custom/pages/_home.scss */

  .home .our-mission {
    padding-left: calc((100% - 1800px)/2);
    padding-right: calc((100% - 1800px)/2);
  }
}

@media only screen and (max-width: 1199px) {
  /* line 76, assets/sass/custom/pages/_home.scss */

  .home .our-mission .tm_pb_column {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* line 83, assets/sass/custom/pages/_home.scss */

.home .our-mission-title h2 {
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;
}

/* line 90, assets/sass/custom/pages/_home.scss */

.home .our-mission-title h2:before {
  content: '';
  display: block;
  height: 5px;
  width: 78px;
  background: #ffffff;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  /* line 83, assets/sass/custom/pages/_home.scss */

  .home .our-mission-title h2 {
    font-size: 60px;
  }

  /* line 102, assets/sass/custom/pages/_home.scss */

  .home .our-mission-title h2::before {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  /* line 83, assets/sass/custom/pages/_home.scss */

  .home .our-mission-title h2 {
    font-size: 80px;
  }

  /* line 110, assets/sass/custom/pages/_home.scss */

  .home .our-mission-title h2::before {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 83, assets/sass/custom/pages/_home.scss */

  .home .our-mission-title h2 {
    margin: 0 0 50px;
  }
}

/* line 122, assets/sass/custom/pages/_home.scss */

.home .our-mission-subtitle h3 {
  color: #ffffff;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0;
  margin: 0 0 30px;
}

@media (min-width: 768px) {
  /* line 122, assets/sass/custom/pages/_home.scss */

  .home .our-mission-subtitle h3 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  /* line 122, assets/sass/custom/pages/_home.scss */

  .home .our-mission-subtitle h3 {
    font-size: 40px;
  }
}

/* line 140, assets/sass/custom/pages/_home.scss */

.home .our-mission-text p {
  font-size: 18px;
  margin: 0 0 25px;
}

/* line 144, assets/sass/custom/pages/_home.scss */

.home .our-mission-text p:last-child {
  margin: 0;
}

/* line 153, assets/sass/custom/pages/_home.scss */

.home.tm_pb_builder #tm_builder_outer_content .our-mission-button {
  font-size: 16px;
  margin-top: 45px;
  padding: 20px 43px !important;
}

@media only screen and (max-width: 1199px) {
  /* line 153, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .our-mission-button {
    padding: 15px 23px !important;
  }
}

/* line 169, assets/sass/custom/pages/_home.scss */

.home.tm_pb_builder #tm_builder_outer_content .projects-terms-container.grid-layout {
  margin: 0;
}

@media (min-width: 1200px) {
  /* line 177, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .projects-terms-container .project-terms-media:hover .term-permalink.simple-icon {
    -webkit-transform: translateY(calc(50% + 30px));
    transform: translateY(calc(50% + 30px));
  }
}

@media (min-width: 1200px) {
  /* line 186, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .projects-terms-container .project-terms-caption {
    padding: 60px 40px;
  }
}

/* line 191, assets/sass/custom/pages/_home.scss */

.home.tm_pb_builder #tm_builder_outer_content .projects-terms-container .project-terms-caption h5 {
  font-weight: 300;
}

@media (min-width: 1200px) {
  /* line 191, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .projects-terms-container .project-terms-caption h5 {
    font-size: 35px;
    line-height: 1.46;
  }
}

@media (min-width: 1200px) {
  /* line 200, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .projects-terms-container .project-terms-caption .term-permalink {
    margin: 0 0 30px 25px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 214, assets/sass/custom/pages/_home.scss */

  .home .about-us .tm_pb_column {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* line 221, assets/sass/custom/pages/_home.scss */

.home .about-us-image img {
  width: 100%;
}

/* line 226, assets/sass/custom/pages/_home.scss */

.home .about-us-content {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 1199px) {
  /* line 226, assets/sass/custom/pages/_home.scss */

  .home .about-us-content {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}

/* line 239, assets/sass/custom/pages/_home.scss */

.home .about-us-title h2 {
  color: #000000;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;
}

/* line 246, assets/sass/custom/pages/_home.scss */

.home .about-us-title h2:before {
  content: '';
  display: block;
  height: 5px;
  width: 78px;
  background: #cf1d39;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  /* line 239, assets/sass/custom/pages/_home.scss */

  .home .about-us-title h2 {
    font-size: 60px;
  }

  /* line 258, assets/sass/custom/pages/_home.scss */

  .home .about-us-title h2::before {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  /* line 239, assets/sass/custom/pages/_home.scss */

  .home .about-us-title h2 {
    font-size: 80px;
  }

  /* line 266, assets/sass/custom/pages/_home.scss */

  .home .about-us-title h2::before {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 239, assets/sass/custom/pages/_home.scss */

  .home .about-us-title h2 {
    margin: 0 0 50px;
  }
}

/* line 278, assets/sass/custom/pages/_home.scss */

.home .about-us-subtitle h3 {
  color: #000000;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0;
  margin: 0 0 30px;
}

@media (min-width: 768px) {
  /* line 278, assets/sass/custom/pages/_home.scss */

  .home .about-us-subtitle h3 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  /* line 278, assets/sass/custom/pages/_home.scss */

  .home .about-us-subtitle h3 {
    font-size: 40px;
  }
}

/* line 296, assets/sass/custom/pages/_home.scss */

.home .about-us-text p {
  font-size: 18px;
  margin: 0 0 25px;
}

/* line 300, assets/sass/custom/pages/_home.scss */

.home .about-us-text p:last-child {
  margin: 0;
}

/* line 309, assets/sass/custom/pages/_home.scss */

.home.tm_pb_builder #tm_builder_outer_content .about-us-button {
  font-size: 16px;
  margin-top: 65px;
  padding: 20px 43px !important;
}

@media only screen and (max-width: 1199px) {
  /* line 309, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .about-us-button {
    margin-top: 45px;
    padding: 15px 23px !important;
  }
}

/* line 323, assets/sass/custom/pages/_home.scss */

.home .why-us {
  background: #313131;
}

/* line 326, assets/sass/custom/pages/_home.scss */

.home .why-us-title {
  padding: 85px 0 70px;
}

@media only screen and (max-width: 1199px) {
  /* line 326, assets/sass/custom/pages/_home.scss */

  .home .why-us-title {
    padding-bottom: 50px;
  }
}

/* line 333, assets/sass/custom/pages/_home.scss */

.home .why-us-title h2 {
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;
}

/* line 340, assets/sass/custom/pages/_home.scss */

.home .why-us-title h2:before {
  content: '';
  display: block;
  height: 5px;
  width: 78px;
  background: #cf1d39;
  margin: 0 auto 10px;
}

@media (min-width: 768px) {
  /* line 333, assets/sass/custom/pages/_home.scss */

  .home .why-us-title h2 {
    font-size: 60px;
  }

  /* line 352, assets/sass/custom/pages/_home.scss */

  .home .why-us-title h2::before {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  /* line 333, assets/sass/custom/pages/_home.scss */

  .home .why-us-title h2 {
    font-size: 80px;
  }

  /* line 360, assets/sass/custom/pages/_home.scss */

  .home .why-us-title h2::before {
    margin-bottom: 30px;
  }
}

/* line 368, assets/sass/custom/pages/_home.scss */

.home .why-us-subtitle h3 {
  display: inline-block;
  vertical-align: top;
  color: #78bee0;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0;
  text-align: center;
  max-width: 680px;
  margin: 0;
}

@media (min-width: 768px) {
  /* line 368, assets/sass/custom/pages/_home.scss */

  .home .why-us-subtitle h3 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  /* line 368, assets/sass/custom/pages/_home.scss */

  .home .why-us-subtitle h3 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1199px) {
  /* line 368, assets/sass/custom/pages/_home.scss */

  .home .why-us-subtitle h3 {
    display: block;
    margin: 0 auto 30px;
  }
}

/* line 394, assets/sass/custom/pages/_home.scss */

.home .why-us-text {
  max-width: 680px;
}

@media only screen and (max-width: 1199px) {
  /* line 394, assets/sass/custom/pages/_home.scss */

  .home .why-us-text {
    margin: 0 auto;
  }
}

/* line 401, assets/sass/custom/pages/_home.scss */

.home .why-us-text p {
  color: #ffffff;
  font-size: 18px;
  margin: 0 0 25px;
}

/* line 406, assets/sass/custom/pages/_home.scss */

.home .why-us-text p:last-child {
  margin: 0;
}

/* line 412, assets/sass/custom/pages/_home.scss */

.home .why-us-content {
  padding-bottom: 110px;
}

@media only screen and (max-width: 1199px) {
  /* line 412, assets/sass/custom/pages/_home.scss */

  .home .why-us-content {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }

  /* line 419, assets/sass/custom/pages/_home.scss */

  .home .why-us-content .tm_pb_column {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  /* line 429, assets/sass/custom/pages/_home.scss */

  .home .find-us-title {
    padding: 80px 0;
  }
}

@media (min-width: 1200px) {
  /* line 429, assets/sass/custom/pages/_home.scss */

  .home .find-us-title {
    padding: 100px 0 460px;
  }
}

/* line 438, assets/sass/custom/pages/_home.scss */

.home .find-us-title h2 {
  color: #ffffff;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
}

/* line 445, assets/sass/custom/pages/_home.scss */

.home .find-us-title h2:before {
  content: '';
  display: block;
  height: 5px;
  width: 78px;
  background: #ffffff;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  /* line 438, assets/sass/custom/pages/_home.scss */

  .home .find-us-title h2 {
    font-size: 60px;
  }

  /* line 457, assets/sass/custom/pages/_home.scss */

  .home .find-us-title h2::before {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  /* line 438, assets/sass/custom/pages/_home.scss */

  .home .find-us-title h2 {
    font-size: 80px;
  }

  /* line 465, assets/sass/custom/pages/_home.scss */

  .home .find-us-title h2::before {
    margin-bottom: 30px;
  }
}

/* line 476, assets/sass/custom/pages/_home.scss */

.home .contact-us {
  padding: 65px 0 55px;
}

@media (min-width: 1200px) {
  /* line 476, assets/sass/custom/pages/_home.scss */

  .home .contact-us {
    padding: 135px 0 125px;
  }
}

/* line 484, assets/sass/custom/pages/_home.scss */

.home .contact-us-text p {
  color: #78bee0;
  font-weight: 300;
  margin: 0;
}

@media (min-width: 768px) {
  /* line 484, assets/sass/custom/pages/_home.scss */

  .home .contact-us-text p {
    font-size: 36px;
    line-height: 1.7;
  }
}

@media (min-width: 1200px) {
  /* line 484, assets/sass/custom/pages/_home.scss */

  .home .contact-us-text p {
    font-size: 80px;
    line-height: 0.9;
  }
}

/* line 504, assets/sass/custom/pages/_home.scss */

.home.tm_pb_builder #tm_builder_outer_content .contact-us-button {
  font-size: 16px;
  white-space: nowrap;
  padding: 20px 45px !important;
}

@media only screen and (max-width: 1199px) {
  /* line 504, assets/sass/custom/pages/_home.scss */

  .home.tm_pb_builder #tm_builder_outer_content .contact-us-button {
    padding: 15px 25px !important;
  }
}